:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-greylight: #C1C6CE;
  --special-dark-blue: #161D29;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --dark-background: #293449;
  --title-background: #F2F6F8;
  --service-background: #F7F3EC;
  --form-background: #F4F4F4;
  --dark-blue: #32425C;
  --extra-dark-blue: #212A3A;
  --item-border: #EAEAEA;
  --button-border-light: #E5E5E5;
  --basic-green-shadow: #367315;
  --dark-green: #518534;
  --old-grey: #A9A9A9;
  --button-greylight: #B5B5B5;
  --font-primary: "Cuprum", sans-serif;
  --font-extra: "PT Sans", sans-serif;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
 box-sizing: border-box;
}

.hide {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.col1 {
  width: 60px;
}

.col2 {
  width: 140px;
}

.col3 {
  width: 220px;
}

.col4 {
  width: 300px;
}

.col5 {
  width: 380px;
}

.col6 {
  width: 460px;
}

.col7 {
  width: 540px;
}

.col8 {
  width: 620px;
}

.col9 {
  width: 700px;
}

.col10 {
  width: 780px;
}

.col11 {
  width: 860px;
}

.col12 {
  width: 940px;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-navigation-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
}

.site-navigation-link {
  display: block;
  height: 42px;
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  position: relative;
  padding-top: 9px;
}

.bookmarks {
  width: 150px;
  padding-left: 43px;
  margin-right: 14px;
}

.basket {
  width: 136px;
  padding-left: 35px;
}

.site-navigation-link.new-order {
  width: 150px;
  padding-left: 19px;
  background-color: var(--basic-green);
}

.site-navigation-link.not-empty {
  background-color: var(--basic-red);
}

.bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  left: 20px;
  top: 13px;
  background-image: url("../img/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12px;
  top: 13px;
  background-image: url("../img/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.site-navigation-link.new-order:hover,
.site-navigation-link.new-order:focus {
  background-color: var(--success);
}

.site-navigation-link:hover::before,
.site-navigation-link:focus::before {
  opacity: 1;
}

.site-navigation-link:active {
  opacity: 0.5;
  background-color: var(--special-dark-blue);
}

.site-navigation-link.new-order:active {
  background-color: var(--basic-green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.site-navigation-link:active::before {
  opacity: 0.3;
}

.info-block .wrapper:first-child {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
}

.text-navigation {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 27px;
}

.site-navigation {
  width: 100%;
  height: 42px;
  margin-bottom: 0;
  background-color: var(--dark-background);
}

.main-logo {
  box-sizing: border-box;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding-left: 55px;
  padding-top: 12px;
}

.main-logo:active {
  background-color: var(--error);
}

.search-form {
  position: relative;
  width: 270px;
  height: 42px;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.search-button {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.search-button svg {
  fill: var(--basic-white);
}

.search-input:hover + button,
.search-input:focus + button {
  opacity: 1;
}

.search-button:hover,
.search-button:focus {
  opacity: 1;
  outline: none;
}

.search-input:focus + button svg {
  fill: var(--basic-red);
}

.search-input {
  height: 42px;
  width: 270px;
  background-color: transparent;
  border: none;
  padding-left: 42px;
  color: var(--basic-white);
}

.search-input::placeholder {
  color: var(--basic-white);
}


.search-input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

input[type=text]::-ms-clear {
  display: none; width : 0; height: 0;
}

input[type=text]::-ms-reveal {
  display: none; width : 0; height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
 display: none;
}

.info-block {
  width: 100%;
  height: 278px;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  background-color: var(--basic-background);
}

.main-title {
  margin-top:-2px;
  margin-right: 20px;
  padding: 0;
  padding-left: 30px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-red);
  font-style: italic;
  font-weight: normal;
  vertical-align: top;
}

.header-contacts {
  margin-right: 20px;
  text-align: left;
}

.header-contacts .tel {
  display: block;
  position: relative;
  width: 270px;
  height: 45px;
  font-family: var(--font-primary);
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  font-weight: bold;
  padding-left: 71px;
  padding-top: 7px;
  border: 3px solid var(--basic-white);
}

.header-contacts .tel::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  left: 36px;
  top: 11px;
  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-contacts .address {
  display: block;
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-blue);
  font-style: normal;
  padding-left: 10px;
  padding-top: 4px;
}

.login-block:not(.hide) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  padding: 0;
  margin: 0;
}

.if-user:not(.hide) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  padding: 0;
  margin: 0;
}

.login-block a,
.if-user a:not(.personal-menu) {
  display: block;
  height: 45px;
  background-color: var(--basic-white);
  font-family: var(--font-primary);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  padding-top: 14px;
}

.login-block .login {
  position: relative;
  width: 120px;
  padding-left: 45px;
  margin-right: 11px;
  margin-left: auto;
}

.login-block .login::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  left: 19px;
  top: 15px;
  background-image: url("../img/icon-login.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.login-block .sign-up {
  width: 150px;
  padding-left: 24px;
  margin-right: 0;
}

.if-user .username {
  width: 250px;
  padding-left: 58px;
  position: relative;
}

.if-user .username::before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  left: 16px;
  top: 14px;
  background-image: url("../img/icon-user.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.if-user .logout {
  width: 50px;
  position: relative;
}

.if-user .logout::before {
  content: "";
  width: 20px;
  height: 17px;
  position: absolute;
  left: 14px;
  top: 15px;
  background-image: url("../img/icon-logout.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.if-user .personal-menu-list {
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-family: var(--font-primary);
  background-color: transparent;
  color: var(--dark-blue);
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.if-user li:not(:first-child) {
  padding-left: 31px;
  position: relative;
}

.if-user li:not(:first-child)::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  left: 14px;
  top: 8px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.login-block a:hover,
.login-block a:focus,
.if-user a.personal-menu:hover,
.if-user a.personal-menu:focus {
  color: var(--basic-red);
}

.if-user li:hover::before,
.if-user li:focus::before {
  background-color: var(--basic-red);
}

.login-block a:active,
.if-user a.username:active,
.if-user a.personal-menu:active {
  color: var(--basic-greylight);
}

.if-user li:active::before {
  background-color: var(--basic-greylight);
}

.login-block .login:hover::before,
.login-block .login:focus::before {
  background-image: url("../img/icon-login-hover.svg");
}

.login-block .login:active::before {
  background-image: url("../img/icon-login.svg");
}


.if-user .username:hover::before,
.if-user .username:focus::before {
  background-image: url("../img/icon-user-hover.svg");
}

.if-user .username:active::before {
  background-image: url("../img/icon-user.svg");
}

.if-user .logout:hover::before,
.if-user .logout:focus::before {
  background-image: url("../img/icon-logout-hover.svg");
}

.if-user .logout:active::before {
  background-image: url("../img/icon-logout.svg");
}

.main-navigation {
  height: 60px;
  margin: 0;
  background-color: var(--dark-blue);
  box-shadow: inset 0px -5px 0px var(--dark-background);
}

.main-navigation ul {
  margin: 0;
  padding-top: 17px;
  padding-left: 21px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
}

.main-navigation li {
  margin: 0;
  list-style: none;
  width: min-content;
}

.main-navigation .text-navigation:hover,
.main-navigation .text-navigation:focus {
 background-color: var(--dark-background);
}

 .section-title {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: normal;
}

.section-title-special {
  color: var(--dark-blue);
}

.section-title.inner-page {
  margin-bottom: 20px;
  background-color: var(--title-background);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}


.main-text {
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-top: 24px;
}

.main-text.main-text-partners {
  margin-top: 26px;
}

.partners-list {
  margin: 0;
  padding: 0;
}

.partners {
  position: relative;
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 24px;
  margin-top: 2px;
  margin-bottom: 12px;
  margin-left: 0;
  padding-left: 37px;
}

li.partners::before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  background-color: var(--basic-red);
}

.about,
.main-contacts {
  text-align: left;
}

.about li {
  list-style: none;
}

.contacts-map {
  display: block;
  margin-top: 32px;
}

a.button {
  display: block;
  height: 38px;
  background-color: var(--basic-red);
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding-top: 11px;
  text-align: center;
}

a.button:active {
  background-color: var(--error);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 70px;
}

.button-about {
  width: 220px;
  margin-top: 20px;
}

.button-contacts {
  margin-top: 22px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

.breadcrumbs li {
  margin-left: 0;
  margin-right: 41px;
  background-color: transparent;
}

.breadcrumbs a {
  position: relative;
  color: var(--basic-black);
  background-color: transparent;
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a:not(.home-link)::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  left: -20px;
  top: 4px;
  background-image: url("../img/icon-right-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.home-link svg {
  fill: var(--special-greylight);
}

/* состояний в стайлгайде нет, на мой вкус */

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: var(--basic-red);
}

.breadcrumbs a:active {
  color: var(--basic-greylight);
}

.home-link:hover svg,
.home-link:focus svg {
  fill: var(--basic-red);
}

.home-link:active svg {
  fill: var(--basic-greylight);
}

.goods {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.filter {
  grid-row-start: 1;
  grid-row-end: 3;
}

.filter-title {
  margin: 0;
  margin-bottom: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  background-color: var(--service-background);
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sorting {
  height: min-content;
  margin-left: 20px;
}

/* Убрать после верстки блока с фильтром по цене */
.empty {
  height: 180px;
  background-color: var(--basic-background);
  margin-bottom: 31px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter ul {
  list-style: none;
  font-family: var(--font-extra);
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter legend {
  font-family: var(--font-extra);
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label:hover::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:not(:checked) + label:hover::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox[disabled] + label {
  opacity: 0.4;
}

.filter-input-checkbox[disabled]:not(:checked) + label::before {
  background-image: url(../img/checkbox-off-hover.svg);
  opacity: 0.75;
}

.filter-input-checkbox[disabled]:checked + label::before {
  background-image: url(../img/checkbox-on-hover.svg);
  opacity: 0.75;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -40px;
  width: 25px;
  height: 25px;
  background-color: inherit;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -32px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio + label:hover::before {
  border-color: var(--button-greylight);
}

.filter-input-radio + label:hover::after {
  background-color: var(--button-greylight);
}

.filter-input-radio[disabled] + label {
  opacity: 0.4;
}

.filter-input-radio[disabled] + label::before {
  opacity: 0.75;
  border-color: var(--button-greylight);
}

.filter-input-radio[disabled] + label::after {
  opacity: 0.75;
  background-color: var(--button-greylight);
}

.filter .filter-button {
  height: 38px;
  color: var(--basic-black);
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--button-border-light);
}
/* Для других состояний меняются изображения инпутов, будет позже */

.catalog-list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.catalog-list ul {
  list-style: none;
  margin: 0;
  margin-top: 14px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  min-height: 318px;
  margin: 0 20px 20px 0;
  position: relative;
  border: 1px solid var(--item-border);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.item-card:nth-child(3n) {
  margin-right: 0;
}

.item-card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.item-menu {
  order: -1;
  position: relative;
  width: 100%;
  margin: auto 0;
}

.item-menu .item-picture {
  position: relative;
  width: 100%;
  background-color: var(--basic-white);
  text-align: center;
}

.item-card:hover .item-picture {
  top: -300px;
  opacity: 0;
}

.item-menu .item-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -67px;
  margin-top: -43px;
}

.item-card h4 {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.item-card .item-link {
  font-family: var(--font-extra);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--basic-black);
  text-align: center;
}

.item-navigation a.button {
  display: block;
  width: 135px;
  height: 38px;
  margin-bottom: 10px;
  background-color: var(--basic-green);
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--basic-green-shadow);
  border-radius: 2px;
}

.item-navigation a.button:hover,
.item-navigation a.button:focus {
  background-color: var(--success);
}

.item-navigation a.button:active {
  background-color: var(--dark-green);
}

.item-navigation button.button {
  width: 135px;
  height: 38px;
  background-color: var(--basic-white);
  color: var(--dark-blue);
  border: 3px solid var(--basic-green);
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.item-navigation button.button:hover,
.item-navigation button.button:focus {
  border-color: var(--dark-blue);
  outline: none;
}

.item-navigation button.button:active {
  opacity: 0.5;
}

.item-card .item-price {
  font-family: var(--font-extra);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.item-card .old-price {
  color: var(--old-grey);
  text-decoration: line-through;
  min-height: 18px;
  margin-top: 0;
  margin-bottom: 13px;
}

.item-card .new-price {
  margin-top: 0;
  margin-bottom: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 44px;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.item-card p.new-item {
  position: absolute;
  right: -25px;
  top: -4px;
  width: 100px;
  height: 30px;
  transform: rotate(45deg);
  background-color: var(--basic-red);
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
  /* Углы и выравнивание */
}

.goods-about {
  height: 260px;
  padding-top: 64px;
  background-color: var(--basic-background);
}

.main-footer,
.bottom-footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-footer {
  background-color: var(--dark-blue);
  color: var(--basic-white);
}

.main-footer .wrapper {
  height: 193px;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.footer-contacts .address {
  padding-top: 1px;
  padding-left: 2px;
}

.footer-contacts .tel {
  padding-top: 2px;
  padding-left: 3px;
}

.main-footer .footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 548px;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  padding-top: 37px;
}

.footer-navigation li,
.footer-navigation .text-navigation {
  width: min-content;
  margin: 0;
  padding: 0;
}

.main-footer .footer-navigation-extra {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 18px;
  padding: 0;
  padding-top: 17px;
}

.bottom-footer {
  background-color: var(--dark-background);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.bottom-footer .wrapper {
  height: 107px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 0;
}

.copyright,
.bottom-footer section {
  margin: 0;
}

.copyright {
  padding-top: 36px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 19px;
}

.main-footer .footer-navigation,
.main-footer .footer-navigation-extra,
.bottom-footer .social {
  list-style: none;
}

.main-footer a:hover,
.main-footer a:focus,
.bottom-footer a:hover,
.bottom-footer a:focus {
  text-decoration: underline;
}

.text-navigation.footer-navigation-extra {
  color: var(--special-yellowlight);
}

.footer-logo {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 68px;
  padding-top: 20px;
  padding-left: 41px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-contacts .tel,
.footer-contacts .address {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  font-style: normal;
  margin-top: 22px;
}

.main-footer a:active {
  text-decoration: none;
  opacity: 0.5;
}

ul.social {
  margin: 0;
  margin-right: 25px;
  padding: 0;
}

.social li {
  width: 44px;
  margin: 0;
  margin-right: 1px;
  padding-top: 34px;
}

.social a {
  display: flex;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  background-color: var(--extra-dark-blue);
  color: var(--basic-white);
  justify-content: center;
  align-items: center;
}

.social li:last-child {
  margin-right: 0;
}

a.social svg {
  position: relative;
  fill: var(--basic-white);
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: var(--basic-red);
}

.bottom-footer .support-section {
  padding-left: 15px;
  padding-right: 13px;
}

.support-section dl {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 35px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 19px;
}

.support-section dd {
  margin-left: 0;
}

a.support {
  color: var(--special-yellowlight);
}

a.support:active {
  text-decoration: none;
  color: var(--basic-red);
}

ul.social {
  display: flex;
  justify-content: center;
}

.write-us {
  position: relative; /* fixed? */
  background-color: var(--basic-white);
  background-image: url("../img/form-line.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.form-button-container {
  bottom: 0;
  height: 112px;
  width: 100%;
  background-color: var(--form-background);
  margin: 0;
  padding: 0;
  padding-top: 37px;
}

.write-us-form-label {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.write-us-form-input {
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 24px;
  color: var(--old-grey);
  margin-top: 18px;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* При стилизации крестика уточнить отступ свеху */

.write-us-form-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto 37px;
  justify-content: space-between;
}

.write-us-form-container p {
  margin: 0;
  margin-top: 13px;
  padding: 0;
}

.write-us-form-input {
  border: 2px solid var(--basic-greylight);
  height: 38px;
}

textarea.write-us-form-input {
  height: 114px;
}

.write-us-button-container {

}

.popup-close {
  width: 21px;
  height: 21px;
  position: absolute;
  right: 11px;
  top: 14px;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
}

.form-submit-button {
  height: 38px;
  width: 460px;
  background-color: var(--basic-red);
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin: 0;
  margin-left: 80px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  border: none;
}

.big-map {
  position: relative; /* fixed? */
  width: 943px;
  height: 449px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--basic-white);
  overflow: hidden;
}

.big-map-pic {
  position: absolute;
  left: -13px;
  top: -15px;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.top-frame {
  position: absolute;
  width: 100%;
  height: 7px;
  background-image: url("../img/form-line.png");
  background-position: 0 0;
  background-repeat:  repeat no-repeat;
}

.adding-goods {
  position: relative; /* fixed? */
  width: 620px;
  height: 282px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--basic-white);
  background-image: url("../img/form-line.png");
  background-position: 0 0;
  background-repeat: repeat no-repeat;
}

.success-adding {
  height: 170px;
  margin: 0;
  padding-top: 73px;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.adding-goods .form-button-container {
  display: flex;
  justify-content: center;
}

.button-order {
  width: 192px;
}

.button.button-shopping {
  width: 192px;
  height: 38px;
  margin-left: 10px;
  background-color: var(--basic-white);
  border: none;
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding-top: 5px;
  text-align: center;
}
