:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-wight: #FFFFFF;
  --basic-black: #000000;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --dark-background: #293449;
  --title-background: #F2F6F8;
  --service-background: #F7F3EC;
  --dark-blue: #32425C;
  --extra-dark-blue: #212A3A;
  --item-border: #EAEAEA;
  --button-border-light: #E5E5E5;
  --basic-green-shadow: #367315;
  --dark-green: #518534;
  --old-grey: #A9A9A9;
  --font-primary: "Cuprum", sans-serif;
  --font-extra: "PT Sans", sans-serif;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-wight);
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
 box-sizing: border-box;
}

.hide {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* Сетки */

.col3 {
  width: 220px;
}

.col4 {
  width: 300px;
}

.col8 {
  width: 620px;
}

.col9 {
  width: 700px;
}

.col12 {
  width: 940px;
}

/* Остальные ширины не используются,
можно добавить на всякий случай */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.site-navigation-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
}

form.search {
  margin-right: auto;
  width: 270px;
  padding-left: 17px;
}

a.bookmarks {
  width: 154px;
}

a.basket {
  width: 136px;
}

a.new-order {
  width: 160px;
  height: 42px;
}

.info-block .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header-contacts {
  margin-right: 20px;
}

.login-block {
  margin: 0;
}

.main-navigation {
  box-shadow: inset 0px -5px 0px var(--dark-background);
/* во время детализации сетки */
}

/* Базовая стилизация */
.text-navigation {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-wight);
}

.site-navigation {
  width: 100%;
  height: 42px;
  margin-bottom: 0;
  background-color: var(--dark-background);
}

.main-logo {
  box-sizing: border-box;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding-left: 55px;
}

.main-logo:active {
  background-color: var(--error);
}

.search input {
  background-color: transparent;
  border: none;
}

form.search input::placeholder {
  color: var(--basic-wight);
}

form.search button {
  width: 17px;
  height: 17px;
  background-color: var(--dark-background);
  background-image: url("../img/icon-search.svg");
  border: none;
  font-size: 0;
}

form.search input:focus {
  background-color: var(--basic-wight);
  color: var(--basic-black);
}

/* Убрать крестик */
input[type=text]::-ms-clear {
  display: none; width : 0; height: 0;
}

input[type=text]::-ms-reveal {
  display: none; width : 0; height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
 display: none;
}


.text-navigation.not-empty {
  background-color: var(--basic-red);
}

.text-navigation.new-order {
  background-color: var(--basic-green);
}


.text-navigation.new-order:hover,
.text-navigation.new-order:focus {
  background-color: var(--success);
}

.text-navigation.new-order:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.5);
}

.text-navigation:active {
  color: rgba(255, 255, 255, 0.5);
}

/* состояния для корзины и закладок
при наведении и фокусе будут позже
вместе с псевдоэлементами */

.text-navigation.new-order:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.info-block {
  width: 100%;
  height: 320px;
  margin: 0;
  background-color: var(--basic-background);
}

.main-title {
  margin-top:0;
  margin-right: 20px;
  padding-left: 30px;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  color: var(--basic-red);
  font-style: italic;
  font-weight: normal;
  /* Чтобы добиться переносов - сделать флекс-контейнером и нарезать слова??? */
}

.header-contacts .tel {
  font-family: var(--font-primary);
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  font-weight: bold;
}

.header-contacts .address {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-blue);
  font-style: normal;
}

.login-block a {
  background-color: var(--basic-wight);
  font-family: var(--font-primary);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.if-user a.personal-menu {
  background-color: transparent;
  color: var(--dark-blue);
  font-size: 16px;
  line-height: 18px;
}

.if-user li:first-child {
  list-style: none;
}

.login-block a:hover,
.login-block a:focus {
  color: var(--basic-red);
}

.login-block a:active {
  color: var(--basic-greylight);
}

.login-block .username:hover,
.login-block .username:focus {
  color: var(--basic-black);
}

.login-block .username:active {
  color: var(--basic-greylight);
}
/* после вставки иконок закончить состояния */

div.main-navigation {
  background-color: var(--dark-blue);
}

.main-navigation li {
  list-style: none;
}

.main-navigation .text-navigation:hover,
.main-navigation .text-navigation:focus {
 background-color: var(--dark-background);
}

main .section-title {
  font-family: var(--font-primary);
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: normal;
}

main .section-title-special {
  color: var(--dark-blue);
}

main .section-title.inner-page {
  background-color: var(--title-background);
}


main .main-text {
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 24px;
}

main .partners {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 24px;
}

.about,
.main-contacts {
  text-align: left;
}

.about li {
  list-style: none;
}

main .button {
  background-color: var(--basic-red);
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-wight);
  text-transform: uppercase;
}

main .button:active {
  background-color: var(--error);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

h3.filter {
  background-color: var(--service-background);
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter ul {
  list-style: none;
  font-family: var(--font-extra);
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter legend {
  font-family: var(--font-extra);
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter input[disabled] + label {
  opacity: 0.4;
}

.filter .filter-button {
  height: 38px;
  color: var(--basic-black);
  font-family: var(--font-extra);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-wight);
  border: 1px solid var(--button-border-light);
}
/* Для других состояний меняются изображения инпутов, будет позже */

.catalog-list ul {
  list-style: none;
}

.item-card {
  position: relative;
  border: 1px solid var(--item-border);
  overflow: hidden;
}

.item-card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.item-menu .item-picture {
  position: relative;
  width: 100%;
  background-color: var(--basic-wight);
}

.item-card:hover .item-picture {
  top: -300px;
  opacity: 0;
}

.item-menu {
  position: relative;
  width: 100%;
}

.item-menu .item-navigation {
  position: absolute;
}

/* Проблемы с доступностью без мышки:
(1) нельзя выделить карточку товара через Таб;
(2) нельзя попасть на кнопки "Купить" и "В зак0ладки"

Теоретически, если мы по ссылке в h4 попадаем на карточку товара,
с клавиатуры купить и положить в закладку товар можно там.
 */

.item-card .item-link {
  font-family: var(--font-extra);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--basic-black);
}

.item-navigation a.button {
  display: block;
  width: 135px;
  height: 38px;
  background-color: var(--basic-green);
  color: var(--basic-wight);
  box-shadow: inset 0px -3px 0px var(--basic-green-shadow);
  border-radius: 2px;
}

.item-navigation a.button:hover,
.item-navigation a.button:focus {
  background-color: var(--success);
}

.item-navigation a.button:active {
  background-color: var(--dark-green);
}

.item-navigation button.button {
  width: 135px;
  height: 38px;
  background-color: var(--basic-wight);
  color: var(--dark-blue);
  border: 3px solid var(--basic-green);
}

.item-navigation button.button:hover,
.item-navigation button.button:focus {
  border-color: var(--dark-blue);
}

.item-navigation button.button:active {
  opacity: 0.5;
}

.item-card .item-price {
  font-family: var(--font-extra);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.item-card .old-price {
  color: var(--old-grey);
  text-decoration: line-through;
}

.item-card .new-price {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 44px;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  color: var(--basic-wight);
}

.item-card p.new-item {
  position: absolute;
  right: -25px;
  top: -4px;
  width: 100px;
  height: 30px;
  transform: rotate(45deg);
  background-color: var(--basic-red);
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-wight);
  text-align: center;
  /* Углы и выравнивание */
}

.goods-about {
  background-color: var(--basic-background);
}

.main-footer,
.bottom-footer {
  width: 100%;
}

.main-footer {
  background-color: var(--dark-blue);
  color: var(--basic-wight);
}


.bottom-footer {
  background-color: var(--dark-background);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-wight);
}

footer .footer-navigation,
footer .footer-navigation-extra,
footer .social {
  list-style: none;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
}

.text-navigation.footer-navigation-extra {
  color: var(--special-yellowlight);
}

div.footer-logo {
  box-sizing: border-box;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 41px;
  padding-right: 41px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-contacts .tel,
.footer-contacts .address {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-wight);
  font-style: normal;
}

.main-footer a:active {
  text-decoration: none;
  opacity: 0.5;
}

.bottom-footer a.social {
  background-color: var(--extra-dark-blue);
  color: var(--basic-wight);
}

.bottom-footer a.social:hover,
.bottom-footer a.social:focus,
.bottom-footer a.social:active {
  background-color: var(--basic-red);
}

.bottom-footer a.support {
  color: var(--special-yellowlight);
}

.bottom-footer a.support:active {
  text-decoration: none;
  color: var(--basic-red);
}
